<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Company Direction</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css}">
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e0e0d1 !important;">
    <a class="navbar-brand" href="/index">
        <img th:src="@{/img/eni-logo.png}" alt="CompanyDirectory"
             style="height: 20%; width: 20%;"/>Company<span
            style="color: yellow">Directory</span>
    </a>&nbsp;&nbsp;&nbsp;
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Данные об организации</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                    <a class="dropdown-item" href="/allUsers">Список пользователей</a>
                    <a class="dropdown-item" href="/allHierarchy">Иерархия</a>
                    <div class="dropdown-divider"></div>
<!--                    <a class="dropdown-item" href="/positionsHierarchy">ТЕСТ</a>-->
                    <a class="dropdown-item" href="/showTree">Древо</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li>
                <a class="navbar-brand"><p th:utext="${user_attr.displayName}"></p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container text-center">
    <h1>Hierarchy List</h1>
    <a href="/newHierarchy">Create New Hierarchy</a>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm" id="myTable">
            <thead>
            <tr>
                <th>Parent Id</th>
                <th>hierarchy Id</th>
                <th>Degree</th>
                <th>Name</th>

                <div th:switch="${user_attr.getUserRoleRef()}">
                    <!--Админ может удалять и изменить-->
                    <div th:case="1">
                        <th>Actions</th>
                    </div>
                    <!--Модер может удалять и изменять-->
                    <div th:case="2">
                        <th>Actions</th>
                    </div>
                </div>

            </tr>
            </thead>
            <tbody>
            <tr th:each="hierarchy : ${listHierarchy}">
                <td th:text="${hierarchy.parentId}">parentId</td>
                <td th:text="${hierarchy.id}">id</td>
                <td th:text="${hierarchy.degree}">degree</td>
                <td th:text="${hierarchy.name}">name</td>
                <div th:switch="${user_attr.getUserRoleRef()}">
                    <!--<td th:text="${users.position}">position</td> -->
                    <!--Админ может удалять и изменить-->
                    <div th:case="1">
                        <td>
                            <a th:href="@{/editHierarchy/{id}(id=${hierarchy.id})}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{/deleteHierarchy/{id}(id=${hierarchy.id})}">Delete</a>
                        </td>
                    </div>
                    <!--Модер может удалять и изменять-->
                    <div th:case="2">
                        <td>
                            <a th:href="@{/editHierarchy/{id}(id=${hierarchy.id})}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{/deleteHierarchy/{id}(id=${hierarchy.id})}">Delete</a>
                        </td>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": "<-",
                    "sNext": "->",
                    "sLast": "-->>"
                },
                "sZeroRecords": "Записей не найдено :-(",
                "sInfoEmpty": "Предоставлено 0 до 0 из 0 записей",
                "sInfoFiltered": "(найдено из _MAX_ общих записей)",
                "sInfo": "Предоставляю от _START_ до _END_ из _TOTAL_ записей",
                "sSearch": "Поиск:",
                "sLoadingRecords": "Ожидайте - загружаю...",
                "sLengthMenu": 'Показать <select>' +
                        '<option value="10">10</option>' +
                        '<option value="20">20</option>' +
                        '<option value="30">30</option>' +
                        '<option value="40">40</option>' +
                        '<option value="50">50</option>' +
                        '<option value="-1">Все</option>' +
                        '</select> записи/ей'
            }
        });
    })
</script>
</body>
</html>